<!--=====================LOADER ANIMATION===========================-->
		<div class="loaderwrapper">
    <div class="spinner"></div>
	</div>
		<!--==========================================================-->
<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us: (+91) 9204782784</a>
            <a href="https://www.linkedin.com/in/subhadeepchoudhuri" class="item">LinkedIn</a>
            <a href="https://github.com/subhadeepCh" class="item">Github</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Any Website</a>
            <a href="#" class="item">Using</a>
            <a href="#" class="item">MERN</a>
            <a href="#" class="item">STACK</a>
          </div>
        </div>
         <div class="seven wide column">
          <h4 class="ui inverted header">Subscribe my youtube Channel To view Code</h4>
          <p><a href="https://www.youtube.com/channel/UCW1pZrQ2VuJoEiDnanvi39g">Click Here</a></p>
        </div>
      </div>
    </div>
  </div>
		<!--========================================================-->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>		
	
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
		
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js"></script>
		<script type="text/javascript" src="/javascr.js"></script>
	</body>
</html>